/* Sticky Footer Technique */
.page-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151515;
  position: relative;
}

.page-footer {
  position: relative;
  margin-top: auto;
}
