:root {
	/* ------- colors ------- */
  --primary-color: #F5F5F5;
  --secondary-color: #019E36;
	--tertiary-color: #185B33;
	--quaternary-color: #A3A2A4;
	--quinary-color: #7B7B83;
  --background-color: #020404;
	--link-color: #00FA55;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "IBM VGA 8x16";
	/* --------------------- */
}

