@import "../css/data/styles.css";

.homepage-container {
  padding-top: 155px;
}

.homepage-intro {
  content: "";
  display: block;
  width: 65%;
}

.homepage-title {
	width: 85% !important;
	font: var(--primary-font) !important;
	font-size: 48px !important;
}

.homepage-subtitle {
	width: 85% !important;
	font: var(--primary-font) !important;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 30px;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 40px;
	transition: color 0.2s ease-in-out;
	color: var(--primary-color);
}

.homepage-social-icon:hover {
	color: var(--secondary-color);
}